<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/output.css" />
    <script src="/jquery-3.7.1.min.js"></script>
    <script src="/script.js"></script>
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <title>wellbeing.</title>
  </head>

  <body class="font-inter text-lg">
    <header
      class="header h-16 sticky top-0 flex bg-white sm:justify-around max-sm:justify-between items-center shadow-md p-1 font-inter"
    >
      <span class="mt-1 max-sm:ml-8">
        <img src="/assets/logo_transparent.png" alt="logo" width="150px" />
      </span>

      <ul class="hidden cursor-pointer sm:inline-flex font-semibold">
        <li class="ml-5 mr-5 border-b-2 transition ease-in-out border-indigo-500 hover:text-indigo-500">
          <a href="">Home</a>
        </li>
        <li class="ml-5 mr-4 transition ease-in-out hover:text-indigo-500">
          <a href="#servicesSection">Services</a>
        </li>
        <li class="ml-5 transition ease-in-out hover:text-indigo-500">
          <a href="#contactSection">Contact</a>
        </li>
      </ul>

      <!-- PC menu -->
      <span class="max-sm:hidden">
        <ul class="flex font-semibold font-inter">
            <li class="mr-2 px-2 py-1">
                <a
                  href="/users/blog"
                  class="hover:border-b-4 hover:border-gray-500 transition ease-in-out"
                >
                  Read Blogs
                </a>
              </li>

          <li
            class="border-2 text-white border-indigo-500 bg-indigo-500 rounded px-4 py-1 hover:bg-white hover:text-indigo-500 transition ease-in-out hover:border-indigo-500"
          >
            <a href="/users/logout"> Log out </a>
          </li>
        </ul>
      </span>

      <!-- mobile hamburger menu -->
      <span class="sm:hidden" id="navbarToggle">
        <i class="fa fa-bars px-10 Bars"></i>
        <i class="fa fa-xmark px-10 Bars"></i>
      </span>
    </header>

    <!-- dropdown menu -->
    <div
      class=" bg-gray-200 font-inter transition-all duration-300 w-screen h-screen p-8 text-lg sm:hidden"
      id="menu"
    >
      <ul class="flex flex-col justify-center items-center">
        <li class="mb-5"><a href="">Home</a></li>
        <li class="mb-5"><a href="#servicesSection">Services</a></li>
        <li class="mb-5"><a href="#contactSection">Contact</a></li>
        <li class="mb-4 border-2 border-gray-500 rounded px-3 py-1">
          <a href="">Sign Up</a>
        </li>
        <li class="mb-4 border-2 border-gray-500 rounded px-4 py-1">
          <a href="">Sign In</a>
        </li>
      </ul>
    </div>

    <!-- hero section -->
    <div class="p-10 h-[78vh] sm:flex justify-evenly items-center  max-sm:h-[42rem]">
      <div class="sm:p-10"> 
        <div>
          <h1 class="uppercase font-extrabold sm:text-6xl text-4xl ">
            Welcome, 
            <span
              class="text-transparent bg-gradient-to-r from-blue-600 via-purple-400 to-pink-400 bg-clip-text "
            >
                <%= userName %>!
            </span>
          </h1>
        </div>
        <div>
          <p
            class="mt-5 text-xl pr-32 sm:w-[800px] font-archivo text-justify text-gray-800 max-sm:text-sm max-sm:hidden "
          >
          Your journey to well-being continues here. Explore personalized programs, connect with counselors, and join our supportive community.
          </p>

          <p class="mt-5 sm:w-[500px] font-archivo text-gray-800 max-sm:text-sm sm:hidden ">
            Nurture your mental health with our customized resources and caring
            community.
          </p>
        </div>
        <div class="mt-5">
          <a href="https://form.jotform.com/241100252725442">
            <button
            class="border-2 font-archivo text-white bg-indigo-500 border-indigo-500 rounded px-5 py-1 hover:bg-white hover:text-indigo-500 transition ease-in-out "
            >
            Book an Assessment
          </button>
        </a>
        </div>
      </div>

      <div
        class="sm:flex sm:justify-center sm:items-center sm:w-[55rem] max-sm:mt-8 max-sm:mb-66 "
      >
        <img src="/assets/Meditation.gif" width="95%" alt="" />
      </div>
    </div>



    <!-- check boxes below hero -->
    <div class="sm:h-[6rem] p-2 text-gray-700 text-2xl font-archivo bg-gray-200 flex justify-around items-center max-sm:flex-col max-sm:text-lg">

      <div class="w-full h-[3rem] sm:h-[4rem] flex justify-center items-center">
        <i class="fa-solid fa-check"></i> 
        <p class="ml-1">Better Realtionships</p>
      </div>
      <div class="w-full h-[3rem] sm:h-[4rem] flex justify-center items-center ">
        <i class="fa-solid fa-check"></i>
        <p class="ml-1">Better Coping Skills</p>
      </div>
      <div class="w-full h-[3rem] sm:h-[4rem] flex justify-center items-center">
        <i class="fa-solid fa-check"></i>
        <p class="ml-1">Better Mental Health</p>
      </div>
        
    </div>


<!-- About us -->
    <div class=" h-[157vh] p-5 mt-[2rem] max-sm:h-[330vh]">
        <div class="flex max-sm:flex-col" >
          <div class=" w-full sm:p-10">
            <img src="/assets/team.png"  width="100%" class="rounded-r-[10rem] border-l-8 border-gray-600">
          </div>
          <div class="w-full flex flex-col justify-center py-6 px-10 text-gray-800 max-sm:px-4" >
            <h2 class="font-inter font-extrabold text-5xl">About Us</h2>
            <p class="mt-5 text-justify font-archivo">We are a dedicated team, fervently advancing mental health and well-being. Our mission is clear: to provide accessible resources, unwavering support, and expert guidance. We empower individuals, fostering a pathway to happier, healthier lives. In our vision, mental health is destigmatized, universally accessible, and prioritized. Our core values—empathy, respect, integrity, inclusivity, and growth—drive every aspect of our work. We stand as a beacon of hope, advocating for mental wellness, and striving for a world where everyone can flourish emotionally and mentally.</p>
            <ul class="flex mt-5 justify-start items-center text-4xl">
              <li class=""><i class="fa-brands fa-instagram"></i></li>
              <li class="ml-8"><i class="fa-brands fa-facebook"></i></li>
              <li class="ml-8"><i class="fa-brands fa-x-twitter"></i></li>
            </ul>
          </div>
        </div>

        <div class="flex p-10 mt-5 text-gray-800 max-sm:flex-col " >
          <div class="w-full mr-5 py-6 px-10 border-4 border-gray-300 rounded-md max-sm:px-4"  >
            <h2 class="font-inter font-extrabold text-4xl">Mission</h2>
            <p class="font-archivo mt-5">Provide accessible resources, unwavering support, and expert guidance. Empowering individuals for happier, healthier lives. Our values: empathy, respect, integrity, inclusivity, growth.</p>
          </div>
          <div class="w-full py-6 px-10 text-gray-800 border-4 border-gray-300 rounded-md max-sm:px-4" >
            <h2 class="font-inter font-extrabold text-4xl ">Vision</h2>
            <p class="font-archivo mt-5">We envision a world where mental health is destigmatized, and everyone has access to the resources and support they need to thrive emotionally and mentally.</p>
          </div>
          <div class="w-full sm:ml-5 py-6 px-10  text-gray-800 border-4 border-gray-300 rounded-md max-sm:px-4" >
            <h2 class="font-inter font-extrabold text-4xl">Values</h2>
            <div class="font-archivo mt-5"">
              <div class="flex items-center">
                <i class="fa-solid fa-check"></i>
                <p class="ml-1">Empathy</p>
              </div>
              <div class="flex items-center">
                <i class="fa-solid fa-check"></i>
                <p class="ml-1">Respect</p>
              </div>
              <div class="flex items-center">
                <i class="fa-solid fa-check"></i>
                <p class="ml-1">Integrity</p>
              </div>
              <div class="flex items-center">
                <i class="fa-solid fa-check"></i>
                <p class="ml-1">Inclusivity</p>
              </div>
              <div class="flex items-center">
                <i class="fa-solid fa-check"></i>
                <p class="ml-1">Growth</p>
              </div>
            </div>
            <div id="servicesSection"></div>
          </div>
        </div>
    </div>


    <!-- Services -->
    <div class="h-[82vh] p-5 py-5 text-gray-800 bg-gray-200 max-sm:-mt-24 max-sm:h-[35rem]" >
      <!-- <div class="flex py-5 px-10 justify-start items-center max-sm:px-4">
        <h2 class="text-5xl font-extrabold">We provide</h2>
      </div> -->
      <div class="flex mt-2 max-sm:flex-col max-sm:mt-0" >
        <div class="w-full py-6 px-10 flex flex-col justify-center max-sm:px-4" >
          <h2 class="font-inter font-extrabold text-5xl" id="servicesHeading">Meditation Classes</h2>
          <p class="mt-5 mb-5 text-justify font-archivo max-sm:hidden" id="servicesDescription">Meditation classes offer a sanctuary for individuals seeking inner peace and mindfulness. Guided by experienced instructors, participants embark on a journey of self-discovery, learning various meditation techniques to calm the mind, reduce stress, and cultivate a deeper connection with themselves. These classes provide a nurturing environment for personal growth and well-being.</p>
          <div class="">
            <button id="servicesLeftClick" class="border-2 w-16 h-10 rounded-full border-gray-800"><i class="fa-solid fa-arrow-left"></i></button>
            <button id="servicesRightClick" class="border-2 w-16 h-10 rounded-full border-gray-800"><i class="fa-solid fa-arrow-right"></i></button>
          </div>
        </div>
        <div class=" w-full p-10">
          <img src="/assets/meditation.jpg" id="servicesImage" width="100%" class="rounded-l-[10rem] border-r-8 border-gray-600">
        </div>
      </div>
    </div>

    <!-- quiz section  -->
    <div class="h-[80vh] p-5 py-5 text-gray-800">
        <div class="py-6 px-10">
          <h2 class="font-inter font-extrabold text-5xl">Personality Quiz</h2>
        </div>
        <div class="font-archivo flex mt-3">
          <div class="w-full pl-10">
            <img src="/assets/quiz.png" width="80%" alt="quiz" class="border-l-8 border-gray-600">
          </div>
          <div class="w-full px-10 flex flex-col justify-center">
            <h3 class="text-4xl ">Take an online assessment to know your personality for free.</h3>
            <p class="text-xl mt-7 mb-7 text-justify">Complete a complimentary online evaluation to uncover insights into your character traits. Follow the guidelines provided to gain valuable self-awareness without incurring any costs.</p>
            <button class="text-xl text-center w-44 border-2 font-archivo text-white bg-indigo-500 border-indigo-500 rounded px-5 py-1 hover:bg-white hover:text-indigo-500 transition ease-in-out "> <a href="/quiz">Take Quiz <i class="fa-regular fa-circle-check"></i></a></button>
          </div>
        </div>
    </div>



    <!-- contact us -->
    <div class="h-[55vh] p-5 py-5  text-gray-800  max-sm:h-[33rem]" id="contactSection">
      <div class="flex py-5 px-10 justify-start items-center max-sm:px-1">
        <h2 class="text-5xl font-extrabold">Contact us</h2>
      </div>
      <div class="flex justify-start sm:px-10">
        <div class="flex flex-col">
          <div class="w-full">
            <input class="w-[40rem] outline-none p-2 rounded border-2 border-gray-500 focus:outline-indigo-500 focus:border-indigo-300 max-sm:w-[20rem]" type="text" name="name" id="name" placeholder="Ankush" required minlength="4">
          </div>
          <div class="mt-5">
            <input class="w-[40rem] outline-none p-2 rounded border-2 border-gray-500 focus:outline-indigo-500 focus:border-indigo-300 max-sm:w-[20rem]" type="email" name="emai" id="email" placeholder="example@mail.com" required>
          </div>
          <div class="sm:hidden">
            <input class="w-[30rem] mt-5 h-[10.5rem] rounded outline-none p-2 border-2 border-gray-500 focus:outline-indigo-500 focus:border-indigo-300 max-sm:w-[20rem]" type="text" name="message" id="message" placeholder="Your message...">
          </div>
          <div class="mt-5">
            <button class="w-[40rem] text-white px-5 py-2 border-2 border-indigo-500 bg-indigo-500 rounded hover:bg-white hover:text-indigo-500 max-sm:w-[20rem]">Submit</button>
          </div>
      </div>
      <div class="max-sm:hidden">
        <input class="w-[40rem] ml-10 h-[11.5rem] rounded outline-none p-2 border-2 border-gray-500 focus:outline-indigo-500 focus:border-indigo-300" type="text" name="message" id="message" placeholder="Your message...">
      </div>
      </div>
    </div>

    <!-- footer -->
    <div class="h-16 bg-gray-200 p-2">
      <h3 class="text-center font-archivo">Ankush Kumar</h3>
      <div class="flex justify-center items-center">
        <a href="https://github.com/ankux"> <i class="fa-brands fa-github mr-3"></i></a>
        <a href="https://linkedin.com/in/ankux"><i class="fa-brands fa-linkedin mr-3"></i></a>
        <a href="https://twitter.com/ankooooosh"> <i class="fa-brands fa-x-twitter"></i></a>
      </div>
    </div>
      







    <!-- JavaScript -->
    <script>
      
    </script>
  </body>
</html>
