<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/output.css" />
    <!-- fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>wellbeing.</title>
  </head>
<body>
    <header
    class="header h-16 sticky top-0 flex bg-white sm:justify-around max-sm:justify-between items-center shadow-md p-1 font-inter"
  >
    <span class="mt-1 max-sm:ml-8">
      <img src="/assets/logo_transparent.png" alt="logo" width="150px" />
    </span>

    <ul class="hidden cursor-pointer sm:inline-flex font-semibold">
      <li class="ml-5 mr-5 border-b-2 transition ease-in-out border-indigo-500 hover:text-indigo-500">
        <a href="">Home</a>
      </li>
      <li class="ml-5 mr-4 transition ease-in-out hover:text-indigo-500">
        <a href="#servicesSection">Services</a>
      </li>
      <li class="ml-5 transition ease-in-out hover:text-indigo-500">
        <a href="#contactSection">Contact</a>
      </li>
    </ul>

    <!-- PC menu -->
    <span class="max-sm:hidden">
      <ul class="flex font-semibold font-inter">
          <li class="mr-2 px-2 py-1">
              <a
                href="/users/blog"
                class="hover:border-b-4 hover:border-gray-500 transition ease-in-out"
              >
                Read Blogs
              </a>
            </li>

        <li
          class="border-2 text-white border-indigo-500 bg-indigo-500 rounded px-4 py-1 hover:bg-white hover:text-indigo-500 transition ease-in-out hover:border-indigo-500"
        >
          <a href="/users/logout"> Log out </a>
        </li>
      </ul>
    </span>

    <!-- mobile hamburger menu -->
    <span class="sm:hidden" id="navbarToggle">
      <i class="fa fa-bars px-10 Bars"></i>
      <i class="fa fa-xmark px-10 Bars"></i>
    </span>
  </header>

  <!-- dropdown menu -->
  <div
    class=" bg-gray-200 font-inter transition-all duration-300 w-screen h-screen p-8 text-lg sm:hidden"
    id="menu"
  >
    <ul class="flex flex-col justify-center items-center">
      <li class="mb-5"><a href="">Home</a></li>
      <li class="mb-5"><a href="#servicesSection">Services</a></li>
      <li class="mb-5"><a href="#contactSection">Contact</a></li>
      <li class="mb-4 border-2 border-gray-500 rounded px-3 py-1">
        <a href="">Sign Up</a>
      </li>
      <li class="mb-4 border-2 border-gray-500 rounded px-4 py-1">
        <a href="">Sign In</a>
      </li>
    </ul>
  </div>

  <div class="flex flex-col justify-center items-center font-archivo  h-[90vh]">
    <div class="p-3 h-[65vh] w-[75%] rounded border-2 border-gray-200">
        <form class="mt-2" action="/users/blog/edit-post/<%= blogPost._id %>" method="post">
            <div class="inline-block border-2 w-full h-[55px] rounded p-1 mt-2 outline-indigo-500">
                <label for="title" class="block text-sm text-gray-500">Title</label>
                <input class="block outline-none border-none leading-6" type="text" id="title" name="title" value="<%= blogPost.title %>" required> <br>
            </div>
            <div class="inline-block border-2 w-full h-[55px] rounded p-1 mt-1 outline-indigo-500">
                <label for="title" class="block text-sm text-gray-500 w-full">Image Url</label>
                <input class="block outline-none border-none leading-6 w-full" type="text" id="imgurl" name="imgurl" value="<%= blogPost.imgurl %>" required> <br>
            </div>
            <div class="inline-block border-2 w-full h-[210px] rounded p-1 mt-1 outline-indigo-500">
                <label for="title" class="block text-sm text-gray-500 w-full">Content</label>
                <textarea class="block outline-none border-none leading-6 w-full h-[160px]" id="content" name="content" required> <%= blogPost.content %> </textarea> <br>
            </div>
            <button class="border-2 w-36 mt-3 p-1 text-white border-indigo-500 bg-indigo-500 rounded px-4 py-1 hover:bg-white hover:text-indigo-500 transition ease-in-out hover:border-indigo-500" type="submit">Update Post</button>
        </form>
    </div>
  </div>


</body>
</html>