<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - wellbeing</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <img class="mt-5 ml-10 opacity-90" src="/assets/logo_transparent.png" alt="logo" width="150px" />
    <div class="flex justify-center items-center h-[85vh]">
      <div>
        <div class="rounded p-10 h-[330px] w-[500px] shadow-[50px_-50px_240px_0px_#4c51bf]">
          <h2 class="mb-5 text-indigo-800 font-bold text-5xl">Login.</h2>
          <form action="/users/login" method="post">
            <div>
              <input
              class="border-2 rounded mt-2 w-full border-indigo-400 p-2"
                type="email"
                name="email"
                id="email"
                placeholder="Email"
                required
              />
            </div >
            <div >
              <input
              class="border-2 rounded mt-2 w-full border-indigo-400 p-2"
                type="password"
                name="password"
                id="password"
                placeholder="Password"
                required
              />
            </div>
            <div>
              <button type="submit" class="p-3 mt-2 text-center w-full border-2 text-white border-indigo-500 bg-indigo-500 rounded px-4 py-1 hover:bg-white hover:text-indigo-500 transition ease-in-out hover:border-indigo-500">Login</button>
            </div class="mt-2">
            <a href="/users/register"><span class="text-center text-indigo-800 ">New user? Register here</span></a>
          </form>

          <!-- for displaying errors  -->
          <% if (errorMessage) { %>
            <script>
                alert('<%= errorMessage %>');
            </script>
        <% } %>

        </div>
      </div>
    </div>
  </body>
</html>
